{% extends "sample_base.html" %}

{% block title %}Sample Overview - Eyrie Sample Manager{% endblock %}

{% block content %}
    {% from 'macros/navbar.html' import sample_navbar %}
    {% from 'macros/sample_cards.html' import
        general_info_card, qc_card, comments_card, krona_plot_card,
        classification_summary_card, summary_statistics_card, quality_plot_card, qc_fail_modal %}

    {{ sample_navbar(sample_id, 'overview', current_user, sample) }}

    <div class="container-fluid sample-detail-container mt-4">
        <!-- Overview View -->
        <div id="overviewView" class="view-content">
            <div class="row h-100">
                <!-- Left Column - General Info, QC and Comments -->
                <div class="col-lg-3 mb-4">
                    {{ general_info_card(sample) }}
                    {{ qc_card(sample) }}
                    {{ comments_card(sample) }}
                </div>

                <!-- Center Column - Krona Plot -->
                <div class="col-lg-6 mb-4">
                    {{ krona_plot_card(sample) }}
                </div>

                <!-- Right Column - Stats and Links -->
                <div class="col-lg-3 mb-4">
                    {{ classification_summary_card(sample) }}
                    {{ summary_statistics_card(sample) }}
                    {{ quality_plot_card(sample) }}
                </div>
            </div>
        </div>
    </div>

    {{ qc_fail_modal() }}

{% endblock %}

{% block dom_ready %}
// Sample detail page specific initialization
const SAMPLE_ID = '{{ sample_id }}';
initializeSampleOverview();
{% if sample %}
currentSample = {{ sample | tojson }};
{% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('login.serve_blueprint_static_endpoint', blueprint='sample', filename='static/js/sample_core.js') }}"></script>
    <script src="{{ url_for('login.serve_blueprint_static_endpoint', blueprint='sample', filename='static/js/sample_classification.js') }}"></script>
    <script src="{{ url_for('login.serve_blueprint_static_endpoint', blueprint='sample', filename='static/js/sample_nanoplot.js') }}"></script>
    <script src="{{ url_for('login.serve_blueprint_static_endpoint', blueprint='sample', filename='static/js/sample_overview.js') }}"></script>
{% endblock %}
